<p id="notice"><%= notice %></p>




  <div class="container">
        

      <div class="row" style="border-bottom: .3px solid gray"  id='cycle-jobs-headers'>
        <div class="col-md-2 jobs-col-descr" >
          <div class="cycle-jobs-head"><strong>description</strong></div>
        </div>  
        <div class="col-md-1 jobs-col-grid">
          <div class="cycle-jobs-head"><strong>value</strong></div>
        </div>  
        <div class="col-md-1 jobs-col-grid">
          <div class="cycle-jobs-head"><strong>previous complete</strong></div>
        </div>  
        <div class="col-md-1 jobs-col-grid">  
          <div class="cycle-jobs-head"><strong>this application</strong></div>
        </div>  
        <div class="col-md-1 jobs-col-grid">  
          <div class="cycle-jobs-head"><strong>percent completed</strong></div>
        </div>  
        <div class="col-md-1 jobs-col-grid">  
          <div class="cycle-jobs-head"><strong>Dollar value completed</strong></div>
        </div>
        <div class="col-md-1 jobs-col-action">  
          <div class="cycle-jobs-head"></div>
        </div>
        <div class="col-md-1 jobs-col-action">  
          <div class="cycle-jobs-head"></div>
        </div>
      </div>  
  
    <div id='jobs-list'>
      <%= render @jobs %>
    </div>
  </div>

<br />
<br />
<%= link_to 'Add row', new_job_path(:scope_cycle_id => @scope_cycle.id), remote: true, id: 'new-job-link' %>