// Place all the styles related to the Jobs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/





.jobs-col-grid {

	width: 14%;
}

jobs-col-descr {
	
	width: 22%;
}

.jobs-col-action {
	
	width: 4%;
}

.jobs-col-input {
	
	width: 13.5%;
}